.App{
  background-color: black; 
  width: 100px;
  height: 250px;
  margin: -5px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 3px solid rgb(66, 66, 66);
}

.soporte{
  width: 20px;
  height: 100px;
  margin: 0px auto;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(66, 66, 66);
}

.Verde{
width: 65px;
height: 65px;
border-radius: 100px;
border: 3px solid #5f5f5f;
}

.Amarillo{
  background-color: rgb(255, 230, 2);
  width: 65px;
  height: 65px;
  border-radius: 100px;
  border: 3px solid #5f5f5f;
  }

  .Rojo{
    background-color: rgb(194, 4, 4);
    width: 65px;
    height: 65px;
    border-radius: 100px;
    border: 3px solid #5f5f5f;
    }

.aling{
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
